<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="estilos.css">
    <title>Servidor Node.js</title>
</head>
<body>
    
    <h1 class="title">Bienvenido al Servidor Node.js</h1>
    <div class="index">    
    <button type="submit" class="botom"><a href="/productos">Ver Productos</a></button>
    <br>
    <br>
    <br>
    <button type="submit" class="botom"><a href="/agregar-producto">Agregar un Nuevo Producto</a></button>
    </div>
    
</body>
</html>